
/* main styles */
body{
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
}
.header,.sect1, .footer{
    display:flex;
    color: white;
    background-color: #1F2937;
    flex-wrap: wrap;
}
button{
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 25px;
   
}

/* section 1 */

.sect1{
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 250px 85px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center; 
}
.logo{
    font-size: 24px;
    color: #F9Faf8;
}
.links{
    display:flex;
    gap: 40px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.subsect1{
    display:flex;
    justify-content: space-between;
    padding-top: 50px;
     
}
.subleft{
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 450px;
    
}
.subleft p{
    margin: 5px;
}
.btn1{
    border-color: #3882F6;
}
.title{
    font-size: 48px;
    margin-bottom:0px;
    
}
img{
    width: 475px;
    height: 250px;
    align-self: center;
}

/* Section 2 */

.sect2{
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 25px;
}
.info_title{
    align-self: center;
    font-size:36px;
    padding-top: 20px;
}
.box{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 175px;
}
.gallery{
    width: 175px;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-color:#3882F6;
    border-radius: 8px;
    padding: 5px;
}
.sect2 p{
    font-weight:lighter;
    color:#1F2937;
    font-size: 18px;
    margin-top: 5px;
}

/* Section 3 */

.subsect2{
    display:flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    height: 300px;
    justify-content: center;
    background-color: #E5E7EB;
    align-items: center;
    font-weight: lighter;
    padding: 50px;
}
.quote{
    padding-inline: 300px;
    margin: 0;
}
.signature{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    padding-right:350px;
}

/* Section 4 */

.sect4{
    margin: 30px;
    padding: 100px 100px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.container{
    border-radius: 8px;
    padding: 25px;
}
button, .container{
    background-color: #3882F6;
    color: white;
}
.btn2{
    align-self: center;
}

/* Footer */

.footer{
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 25px;
}


